<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80" alt="Laptop" width="473" height="316">
<p>Photo by Garrett Sears on Unsplash</p>

<div class="pt-3">
    <p>This is a simple user management system developed as part of a YouTube tutorial.</p>
    <p>Check out my <a href="https://youtube.com/raddydev">YouTube Channel</a> and support by subscribing!</p>
</div>